<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}
  <hr class="rounded">
  <a class="sidebar-nav-item" href="/ai-dino-agent">2021 | AI Dino Agent</a>
  <a class="sidebar-nav-item" href="/maroon-lines">2020 | Maroon Lines</a>
  <a class="sidebar-nav-item" href="/ai-tetris-agent">2018 | AI Tetris Agent</a>
  <a class="sidebar-nav-item" href="/codii-book">2017 | Codii</a>
  <a class="sidebar-nav-item" href="/wiredin">2017 | Wired In</a>
  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}
</div>